{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Spots",
    "description": ""
  },
  "host": "ws-study.shop",
  "basePath": "/",
  "tags": [
    {
      "name": "Users",
      "description": "회원정보API"
    },
    {
      "name": "Teams",
      "description": "팀API"
    },
    {
      "name": "Reservation",
      "description": "예약API"
    }
  ],
  "schemes": ["https"],
  "securityDefinitions": {
    "apiKeyAuth": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization",
      "description": "any description..."
    }
  },
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/users/signup": {
      "post": {
        "description": "회원가입",
        "tags": ["Users"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "type": "string",
            "schema": {
              "type": "object",
              "properties": {
                "loginId": {
                  "example": "아이디"
                },
                "password": {
                  "example": "비밀번호"
                },
                "confirmPassword": {
                  "example": "비밀번호확인"
                },
                "nickname": {
                  "example": "닉네임"
                },
                "gender": {
                  "example": "성별"
                },
                "phone": {
                  "example": "번호"
                },
                "sports": {
                  "example": ["풋살", "테니스"]
                },
                "favSports": {
                  "example": ["배드민턴"]
                },
                "recommendId": {
                  "example": "aa"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/users/login": {
      "post": {
        "description": "로그인",
        "tags": ["Users"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "type": "string",
            "schema": {
              "type": "object",
              "properties": {
                "loginId": {
                  "example": "아이디"
                },
                "password": {
                  "example": "비밀번호"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/users/checkId": {
      "post": {
        "description": "ID 중복확인",
        "tags": ["Users"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "type": "string",
            "schema": {
              "type": "object",
              "properties": {
                "loginId": {
                  "example": "아이디"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/users/checkNick": {
      "post": {
        "description": "닉네임 중복확인",
        "tags": ["Users"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "type": "string",
            "schema": {
              "type": "object",
              "properties": {
                "nickname": {
                  "example": "닉네임"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/users/checkPhone": {
      "post": {
        "description": "핸드폰 중복확인",
        "tags": ["Users"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "type": "string",
            "schema": {
              "type": "object",
              "properties": {
                "phone": {
                  "example": "번호"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/users/me": {
      "get": {
        "description": "회원정보 조회",
        "tags": ["Users"],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "patch": {
        "description": "회원정보 수정",
        "tags": ["Users"],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "type": "string",
            "schema": {
              "type": "object",
              "properties": {
                "password": {
                  "example": "비밀번호"
                },
                "nickname": {
                  "example": "닉네임"
                },
                "gender": {
                  "example": "성별"
                },
                "address": {
                  "example": "주소"
                },
                "phone": {
                  "example": "번호"
                },
                "sports": {
                  "example": ["풋살"]
                },
                "favSports": {
                  "example": ["배드민턴"]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/users/drop": {
      "patch": {
        "description": "회원탈퇴",
        "tags": ["Users"],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/users/cancelDrop": {
      "patch": {
        "description": "회원탈퇴 취소",
        "tags": ["Users"],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/teams/me": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/teams/": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/teams/register": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/teams/update": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/teams/drop": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/reservations/register": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/reservations/me": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  }
}
