{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Spots",
    "description": ""
  },
  "host": "ws-study.shop",
  "basePath": "/",
  "tags": [
    {
      "name": "Users",
      "description": "회원정보API"
    }
  ],
  "schemes": ["https"],
  "securityDefinitions": {
    "apiKeyAuth": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization",
      "description": "any description..."
    }
  },
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/users/signup": {
      "post": {
        "description": "회원가입",
        "tags": ["Users"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "type": "string",
            "schema": {
              "type": "object",
              "properties": {
                "loginId": {
                  "example": "아이디"
                },
                "password": {
                  "example": "비밀번호"
                },
                "confirmPassword": {
                  "example": "비밀번호확인"
                },
                "nickname": {
                  "example": "닉네임"
                },
                "gender": {
                  "example": "성별"
                },
                "phone": {
                  "example": "번호"
                },
                "sports": {
                  "example": ["풋살", "테니스"]
                },
                "favSports": {
                  "example": ["배드민턴"]
                },
                "recommendId": {
                  "example": "aa"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/users/login": {
      "post": {
        "description": "로그인",
        "tags": ["Users"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "type": "string",
            "schema": {
              "type": "object",
              "properties": {
                "loginId": {
                  "example": "아이디"
                },
                "password": {
                  "example": "비밀번호"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/users/checkId": {
      "post": {
        "description": "ID 중복확인",
        "tags": ["Users"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "type": "string",
            "schema": {
              "type": "object",
              "properties": {
                "loginId": {
                  "example": "아이디"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/users/checkNick": {
      "post": {
        "description": "닉네임 중복확인",
        "tags": ["Users"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "type": "string",
            "schema": {
              "type": "object",
              "properties": {
                "nickname": {
                  "example": "닉네임"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/users/checkPhone": {
      "post": {
        "description": "핸드폰 중복확인",
        "tags": ["Users"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "type": "string",
            "schema": {
              "type": "object",
              "properties": {
                "phone": {
                  "example": "번호"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/users/me": {
      "get": {
        "description": "회원정보 조회",
        "tags": ["Users"],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "patch": {
        "description": "회원정보 수정",
        "tags": ["Users"],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "type": "string",
            "schema": {
              "type": "object",
              "properties": {
                "password": {
                  "example": "비밀번호"
                },
                "nickname": {
                  "example": "닉네임"
                },
                "gender": {
                  "example": "성별"
                },
                "address": {
                  "example": "주소"
                },
                "phone": {
                  "example": "번호"
                },
                "sports": {
                  "example": ["풋살"]
                },
                "favSports": {
                  "example": ["배드민턴"]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/users/drop": {
      "patch": {
        "description": "회원탈퇴",
        "tags": ["Users"],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/users/cancelDrop": {
      "patch": {
        "description": "회원탈퇴 취소",
        "tags": ["Users"],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/teams/me": {
      "get": {
        "description": "나의 팀 조회",
        "tags": ["Teams"],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/teams/info": {
      "get": {
        "description": "팀 상세정보 조회",
        "tags": ["Teams"],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "type": "string",
            "schema": {
              "type": "object",
              "properties": {
                "teamName": {
                  "example": "신바람풋살회"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/teams/register": {
      "post": {
        "description": "신규 팀 생성",
        "tags": ["Teams"],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "type": "string",
            "schema": {
              "type": "object",
              "properties": {
                "teamName": {
                  "example": "팀 이름"
                },
                "member": {
                  "example": 5
                },
                "sports": {
                  "example": "종목"
                },
                "image": {
                  "example": "이미지파일 (2MB 이하,720*720 이하)"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/teams/drop": {
      "put": {
        "description": "기존 팀 탈퇴",
        "tags": ["Teams"],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "type": "string",
            "schema": {
              "type": "object",
              "properties": {
                "teamName": {
                  "example": "팀 이름"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/reservations/register": {
      "post": {
        "description": "매치 신청",
        "tags": ["Reservations"],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "type": "string",
            "schema": {
              "type": "object",
              "properties": {
                "matchId": {
                  "example": "221107t11"
                },
                "place": {
                  "example": "튼튼축구장"
                },
                "teamName": {
                  "example": "항해풋살회"
                },
                "member": {
                  "example": "5 (숫자 인원)"
                },
                "date": {
                  "example": "2022-11-07-13:00"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "description": "매치 조회",
        "tags": ["Reservations"],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "type": "string",
            "schema": {
              "type": "object",
              "properties": {
                "matchId": {
                  "example": "221107t11"
                },
                "place": {
                  "example": "튼튼축구장"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/reservations/me": {
      "get": {
        "description": "나의 매치 조회",
        "tags": ["Reservations"],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  }
}
