# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: CD_SPOTS

on:
  pull_request:
    branches: ['master']

jobs:
  deploy:
    name: CD_SPOTS
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - name: Deploy
        uses: appleboy/ssh-action@v0.1.5
        with:
          key: ${{ secrets.CI_CD_KEY }}
          host: ${{ secrets.CI_CD_HOST }}
          username: ${{ secrets.CI_CD_USERNAME }}
          port: ${{ secrets.CI_CD_PORT }}
          script: |
            cd ${{ secrets.CI_CD_PATH1 }}
            cd ${{ secrets.CI_CD_PATH2 }}
            sudo git pull origin master
            npm install
            sudo node app.js
